NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_your_clerk_publishable_key
CLERK_SECRET_KEY=sk_test_your_clerk_secret_key
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
DATABASE_URL="postgres://user:password@host:5432/dbname?sslmode=verify-full"
LIVEBLOCKS_PUBLIC_KEY=pk_dev_your_liveblocks_public_key
LIVEBLOCKS_SECRET_KEY=sk_dev_your_liveblocks_secret_key

# Trigger.dev
TRIGGER_SECRET_KEY="tr_dev_your_trigger_secret_key"
TRIGGER_PROJECT_REF="proj_your_trigger_project_ref"

# AI keys
GOOGLE_AI__API_KEY="your_google_ai_api_key"
GEMINI_MODEL="gemini-model of your choice"
